@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-bg: #ffffff;
  --color-secondary-bg: #fbfaf9;
  --color-sidebar-selected: #e8e8e8;
  --color-searchbar: #f8f8f7;
  --color-input-bg: #f8f8f7;
  --color-gray-text: #949494;
  --color-main: #272727;
  --color-muted: #999999;
  --color-btn-primary: #284cff;
  --color-btn-secondary: #d4dbff;
  --color-btn-primary-text: #ffffff;
  --color-btn-secondary-text: #284cff;

  /* status and priority */
  --color-priority-high: #ff5b5b;
  --color-priority-medium: #ffc93c;
  --color-priority-low: #00d097;
  --color-status-todo: #335cff;
  --color-status-progress: #ffc93c;
  --color-status-completed: #00d097;
  --color-status-overdue: #ff5b5b;
}

@layer utilities {
  .fade-in {
    @apply opacity-0 translate-y-2;
    animation: fadeIn 0.25s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: "Inter", sans-serif;
  }
}
